@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Contact Us Anytime!</h3>

<address>
    NFLQBFS<br />
    1665 Oakpatch Road #218<br />
    Eugene, OR, 97402<br />
    541.735.0538
</address>

<address>
    <strong>Home:</strong> <a href="mailto:trevoruehlinx1@gmail.com">trevoruehlinx1@gmail.com</a><br />
    <strong>School:</strong> <a href="mailto:uehlint@my.lanecc.edu">uehlint@my.lanecc.edu</a>
</address>
