@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <h3>Site Navigation</h3>
    <a href="Home"><h3>Home</h3></a>
    <ul>
        <li><a href="/History/Index"><h5>A History of NFL Quaterbacks</h5></a></li>
        <li><a href="/History/ReadStories"><h5>Read stories about NFL Quarterbacks</h5></a></li>
        <li><a href="/History/SubmitStories"><h5>Submit stories about NFL Quarterbacks</h5></a></li>
    </ul>
    <a href="Sources"><h3>Find out more about NFL Quarterbacks</h3></a>
    <ul>
        <li><a href="/Sources/Books"><h5>Books and print media</h5></a></li>
        <li><a href="/Sources/Online"><h5>Links to online media</h5></a></li>
    </ul>
    <a href="Home/About">About the NFL Fansite</a><br />
    <a href="Home/Contact">Contact Us!</a>
</nav>